.hello-message {
  position: relative;
  /* border: 3px solid red; */
  width: 370px;
  height: 170px;
}
.hello-message > input {
  width: 98%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hello-message > button {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
  width: 150px;
  height: 25px;
}
